
<div class="container-color">


  <div class="d-flex align-items-center min-vh-100">
    <div class="container text-center">
      <div class="row">
        <div class="col pb-5">
          <div class="bg-1">
            <h1>QUIZ APP</h1>
         </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <div class="row">
        <div class="col pb-5">
          <button
            type="button"
            [routerLink]="'/quiz'"
            class="large-button btn btn-play"
          >
            <span style="color: white;" >Play</span>
            
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button "
            [routerLink]="'/score'"
            class="large-button btn btn-score"
          >
            <span style="color: white;">Score</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
</div>
