<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->

<div class="d-flex align-items-center min-vh-100">
  <div class="container text-center">
    <div class="row">
      <div class="col pb-5">
        <h1>Quiz App</h1>
      </div>
    </div>

    <div class="row">
      <div class="col pb-5">
        <button
          type="button"
          [routerLink]="'/quiz'"
          class="large-button btn btn-primary"
        >
          Play
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          type="button"
          [routerLink]="'/score'"
          class="large-button btn btn-primary"
        >
          Score
        </button>
      </div>
    </div>
  </div>
</div>
