.large-button{
    min-width: 170px;
    max-width: 170px;
    white-space: normal;
    word-wrap: break-word;
 
}

.btn-play{
    background-color: #F06543;
    border-color: #F06543;
    box-shadow: 0 10px 12px #2e2e31, 0 40px 60px #2e2e31;
}

.btn-score{
    background-color: #F09D51;
    border-color: #F09D51;
    box-shadow: 0 10px 12px #2e2e31, 0 40px 60px #2e2e31;
}

.container, .btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-color{
    background-color: #E0DFD5;
}

.texto {
    background: -webkit-linear-gradient(90deg, rgba(240,157,81,1) 20%, rgba(240,101,67,1) 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
  }

 
 .t-stroke {
   color: transparent;
   font-size: 200px;
   -moz-text-stroke-width: 2px;
   -webkit-text-stroke-width: 2px;
   -moz-text-stroke-color: #000000;
   -webkit-text-stroke-color: #ffffff;
 }
 
 .t-shadow {
   text-shadow: 7px 7px #9437019d;
 }


 @keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }


  h1 {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  h1:before,
  h1:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    border: 15px solid;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  h1:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  h1:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .6);
  }




